<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Crear Nueva Convocatoria</h1>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Detalles del Evento</h6>
            </div>
            <div class="card-body">
                <form (ngSubmit)="crear()">
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label class="small mb-1 font-weight-bold">Título de la Convocatoria</label>
                            <input type="text" class="form-control" [(ngModel)]="nuevaConvocatoria.titulo" name="titulo" placeholder="Ej. Desfile 20 Nov">
                        </div>
                        <div class="form-group col-md-4">
                            <label class="small mb-1 font-weight-bold">Tipo de Evento</label>
                            <select class="form-control" name="tipo">
                                <option selected>Desfile</option>
                                <option>Acto Cívico</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="small mb-1 font-weight-bold">Fecha del Evento</label>
                            <input type="date" class="form-control" [(ngModel)]="nuevaConvocatoria.fechaEvento" name="fecha">
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                         <label class="small mb-1 font-weight-bold">Hora de Reunión</label>
                         <input type="time" class="form-control" 
                         [(ngModel)]="nuevaConvocatoria.horaReunion" name="horaReunion" required>
                    </div>

                    <div class="form-group">
                        <label class="small mb-1 font-weight-bold">Descripción y Logística</label>
                        <textarea class="form-control" rows="4" [(ngModel)]="nuevaConvocatoria.descripcion" name="descripcion"></textarea>
                    </div>

                    <div class="form-group">
                        <label class="small mb-1 font-weight-bold">Documento Oficial (PDF)</label>
                        <input type="file" class="form-control-file" (change)="onFileSelected($event)">
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                        <i class="fas fa-paper-plane mr-2"></i> Publicar Convocatoria
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="card-body">
    <div *ngFor="let conv of listaConvocatorias" class="mb-4">
        <div class="small text-gray-500">Fecha: {{ conv.fechaEvento }}</div>
        
        <span class="font-weight-bold d-block">{{ conv.titulo }}</span>
        
        <div class="progress mt-2" style="height: 5px;">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 100%"></div>
        </div>
        <hr>
    </div>
    
    <div *ngIf="listaConvocatorias.length === 0" class="text-center text-muted">
        No hay convocatorias activas.
    </div>
</div>
</div>