<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-flag"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Regiduría <sup>Edu</sup></div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Inicio</span></a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Gestión
            </div>

            <li class="nav-item">
                <a class="nav-link" href="padron_escuelas.html">
                    <i class="fas fa-fw fa-school"></i>
                    <span>Padrón de Escuelas</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="crear_convocatoria.html">
                    <i class="fas fa-fw fa-bullhorn"></i>
                    <span>Convocatorias</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="mapa_logistica.html">
                    <i class="fas fa-fw fa-map-marked-alt"></i>
                    <span>Mapa Logístico</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="monitoreo_asistencia.html">
                    <i class="fas fa-fw fa-clipboard-check"></i>
                    <span>Monitoreo Asistencia</span></a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <ul class="navbar-nav ml-auto">